<h2>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h2>

<h3>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</h3>

<h4>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</h4>
<h5>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</h5>
<br>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item">
    <div class="text-center">
      <strong>Rating: </strong><%= review.rating %>
      <hr>
      <strong>Content: </strong><%= review.content %>
    </div>
  </li>
  <hr>
<% end %>
</ul>


<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant) %>
